.container
  width: 100vw
  display: grid
  grid-template-columns: 1fr min-content 1fr
  grid-template-rows: 1fr min-content 1fr

.top, .bottom, .left, .right
  background-color: rgb(140, 0, 0)

.top, .bottom
  width: 100vw
  height: 2px

.left, .right
  height: 100vh
  width: 2px

.top
  grid-column: 1 / 4
  grid-row: 1 / 2
  align-self: end

.bottom
  grid-column: 1 / 4
  grid-row: 3 / 4

.left
  grid-column: 1 / 2
  grid-row: 1 / 4
  justify-self: end

.right
  grid-column: 3 / 4
  grid-row: 1 / 4

.center
  grid-column: 2 / 3
  grid-row: 2 / 3
