@use '../lib/_utils'

$main-bg: utils.$gray-400

.main
  background-color: $main-bg
  width: 100vw
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 4rem
  padding: 2rem